<div class="container mt-5">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6">
    <form *ngFor="let value of values" class="form-inline my-2 my-lg-0">
      <p >{{value.id}}. {{value.name}}</p>
      <button class="btn btn-danger btn-sm mx-1" type="submit" (click)="deleteValue(value.id)">Delete</button>
    </form>
    
    <form #editform="ngForm" id="editForm" (ngSubmit)="postValue()">

      <div class="form-group">
        <input type="text" class="form-control" name="name" [(ngModel)]="model.name">
      </div>

        <div class="form-group">
          <button class="btn btn-success" type="submit">Post</button>
        </div>

    </form>
    
    </div>
  </div>
</div>